#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    draw_borders: false,
    show_song_table_header: false,
    symbols: (song: "🎵", dir: "📁", playlist: "🎼", marker: "\u{e0b0}"),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "1",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    progress_bar: (
        symbols: ["", "", "⭘", " ", " "],
        track_style: (bg: "#343f44"),
        elapsed_style: (fg: "#a7c080", bg: "#343f44"),
        thumb_style: (fg: "#a7c080", bg: "#343f44"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "#a7c080"),
    ),
    browser_column_widths: [20, 38, 42],
    text_color: "#d3c6aa",
    background_color: "#2d353b",
    header_background_color: "#343f44",
    modal_background_color: None,
    modal_backdrop: false,
    tab_bar: (active_style: (fg: "#2d353b", bg: "#a7c080", modifiers: "Bold"), inactive_style: ()),
    borders_style: (fg: "#475258"),
    highlighted_item_style: (fg: "#a7c080", modifiers: "Bold"),
    current_item_style: (fg: "#2d353b", bg: "#7fbbb3", modifiers: "Bold"),
    highlight_border_style: (fg: "#7fbbb3"),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "#7fbbb3"), default: (kind: Text("Unknown"))),
            width: "50%",
            alignment: Right,
        ),
        (
            prop: (kind: Text("-"), style: (fg: "#a7c080"), default: (kind: Text("Unknown"))),
            width: "1",
            alignment: Center,
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#83c092"), default: (kind: Text("Unknown"))),
            width: "50%",
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#a7c080", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "#a7c080", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#a7c080", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#dbbc7f", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#dbbc7f", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Title)), style: (fg: "#83c092", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "#83c092", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "#a7c080", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "#a7c080", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "#a7c080", modifiers: "Bold"))
                ]
            )
        ],
    ),
)
